{% extends "base.html" %}

{% block cuerpo %}
<center>
    <div class="row justify-content-center"> <!-- Fila centrada -->
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"> <!-- Columna centrada -->
            <center><h1>Editar Venta</h1></center>
            <div class="card mx-auto"> <!-- Tarjeta centrada -->
                <div class="card-body">
                        <form action="/editarVenta/{{ venta.id_venta }}" method="POST"> {% csrf_token %} <!--Falta Action-->
                            <center><div class="form-group">
                                <input type="number" id="id_venta" name="id_venta" class="form-control" value="{{venta.id_venta }}" readonly minlength="1" maxlength="6" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" id="id_producto" name="id_producto" class="form-control" value="{{ venta.id_producto }}" maxlength="100" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" id="id_cliente" name="id_cliente" value="{{ venta.id_cliente }}" class="form-control" maxlength="100" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" id="id_sucursal" name="id_sucursal" class="form-control" value="{{ venta.id_sucursal }}" maxlength="100" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" id="id_empleado" name="id_empleado" class="form-control" value="{{ venta.id_empleado }}" maxlength="100" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="number" id="Total" name="Total" class="form-control" value="{{ venta.Total }}" maxlength="100" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="date" id="Fecha" name="Fecha" class="form-control" value="{{ venta.Fecha|date:'d-m-Y'}}" maxlength="100" required>
                            </div>
                            
                            <hr></hr>
                            <div class="form-group py-2">
                                <button type="submit" class="btn btn-primary btn-dark">Guardar Venta</button>
                            </div>
                        </center>
                        </form>
                </div>
            </div>
        </div> <!-- Fin de la columna -->
    </div> <!-- Fin de la fila -->
</center>
{% endblock %}