{% extends "base.html" %}

{% block cuerpo  %}
{% load static %}
<div class="row"> <!--la fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--Columna izquierda-->
    <center><h1>Registrar Cliente</h1></center>
    <div class="card mx-5"><!--la tarjeta-->
        <div class="card-body">
            <form action="registrarCliente/" method="POST"> {% csrf_token %}
                
                <div class="form-group">
                    <input type="int" id="id_cliente" name="id_cliente" class="form-control" placeholder="Id Cliente" maxlength="6" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="20" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="tel" id="Telefono" name="Telefono" class="form-control" placeholder="Teléfono" maxlength="10" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="email" id="correo" name="correo" class="form-control" placeholder="Correo" maxlength="30" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Fecha" required>
                </div>
                <br>
                
                <div class="form-group">
                    <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" maxlength="20" required>
                </div>
                <br>
                
                <div class="form-group py-2 text-center">
                    <button type="submit" class="btn btn-primary btn-dark">Guardar Cliente</button>
                </div>
                
            </form>
        </div>
    </div><!--la tarjeta-->
    
    </div><!--Columna izquierda-->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--Columna Derecha-->
        <h1>Lista de Clientes</h1>
        <center><img class="w-50" src="{%static 'img/clientes.jpg' %}" alt="corona" width="200"  /></center>
        <!--La Tabla-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id_Cliente</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Direccion</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for m in misClientes  %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.id_cliente}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.Telefono}}</td>
                        <td>{{m.correo}}</td>
                        <td>{{m.fecha}}</td>
                        <td>{{m.direccion}}</td>
                        <td> <a href="seleccionarCliente/{{m.id_cliente}}" class="btn btn-info">Editar</a></td><!--falta-->
                        <td> <a href="borrarCliente/{{m.id_cliente}}" class="btn btn-danger">Borrar</a></td><!--falta-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!--Columna Derecha-->
</div><!--la fila-->
{% endblock  %}